

.getQuotes {
  width: fit-content;
  align-self: center;
}



/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
  }
  
  .grid-item {
<<<<<<< HEAD
    background-color: #f1c5c5; 
    padding: 10px; 
    margin: 20px;
    height: 100px;
    width: 100px;
    
  } */

#title-box {
  width: fit-content;
}

#board-box {
  height: 500px;
  width: 700px;
  margin: 10%;
}

#title-placeholder {
  margin: 10%;
}
=======
    background-color: #f1c5c5; /* Adjust the background color as needed */
    padding: 10px; /* Adjust the padding as needed */
  }
<<<<<<< HEAD
>>>>>>> 030e32372322d0cbe727d85febe48ea42bd0f4ef
=======

  #containResults {
    width: 150px;
    height: 150px;
  }
  
  #containResults > .results{
    object-fit:fill;
    width: 100%;
    height: 100%;
  }
>>>>>>> d0be54948dd6f9a36f1cf45f1d6e5c5adec5713f
