.quotesDisplay {
justify-content: center;
}

.getQuotes {
  width: fit-content;
  justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between grid items as needed */
  }
  
  .grid-item {
    background-color: #f1c5c5; /* Adjust the background color as needed */
    padding: 10px; /* Adjust the padding as needed */
    
  }

.box {
  width:fit-content;
}